@{}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>SpiritAutomata Demonstration</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body class="main-page">
    <h1>SpiritAutomata Demonstration</h1>
    <canvas id="CanvasOne" border="" class="canvas-center" width="800" height="600"></canvas>
    <canvas id="CanvasTwo" border="" class="canvas-center" width="800" height="600"></canvas>
    <script src="main.js"></script>
    <br />
    <a href="https://github.com/TomaT3/SpiritSpender">Real SpiritSpender project</a>
</body>
</html>